@charset 'utf-8';

* {margin:0; padding:0; box-sizing:border-box;}
html,body {font-family: 'Gothic A1', sans-serif;}
img {display:block; max-width:100%;}

#info {width:488px; height:166px; border:2px solid red; margin:100px auto; background-image:url('../images/travel_bg.jpg'); background-size:cover; padding:15px 17px; letter-spacing:-1px;}

#info h2 {color:white; font-size:1.15rem;}
#info h2 b {margin-left:20px; font-size:0.8rem; transform:translateY(-2px); display:inline-block;}

#info>div {display:flex; margin:32px 0 0 16px;}

#info>div>div {border:0px solid tomato; flex:1; display:flex; align-items:center;}

#info>div>div:nth-child(2){margin:-45px 0 0 19px;}
#info>div>div:nth-child(3){margin:8px 0 0 8px;}
#info>div>div:nth-child(3) h3 {margin-top:-68px;}

#info a  {margin-right:8px; transition:0.5s;}
#info a.act {transform:translateY(-5px); filter:blur(2px) sepia(100%);}

#info h3 {font-size:0.95rem; color:#fef3bb;}





